.inputBox .titleInput{
    font-size: 1.2em;
    padding: 0px 0 0 5px;

}
.inputBox{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    grid-gap: 20px;
    grid-row-gap: 20px;
}

.containerInput{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 20px 0 10px;
}
.containerInput label{
    font-size: 1em;
    font-weight: 500;
}
.inputs{
    border: 1.5px solid rgba(0, 0, 0, 0.15);
    padding: 10px;
    outline: none;
    color: #6a718c;
    border-radius: 12px;
    font-size: 1em;
    transition: .5s;
}
.inputs:focus {
    outline: 1.5px solid #97abfe;
}