@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, Helvetica, sans-serif;
}

a{
    text-decoration: none;
}
.container {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 50px;
}
.card{
    position: relative;
    background-color: #e5fbfe;
    padding: 40px;
    border-radius: 12px;
    width: 100%;
    box-shadow: 3px 2px 3px 0px rgba(0, 0, 0, 0.15);
}
.card-body{
    text-align: start;
    justify-content: center;
    align-items: center;

}
.headerForm{
    display: flex;
    width: 100%;
}
.filtro{
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 7px;
    font-size: 1em;
    padding: 10px;
    width: 85%;
    outline: none;

}
.inputBox .titleInput{
    font-size: 1.2em;
    padding: 0px 0 0 5px;

}
.inputBox{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-gap: 20px;
    grid-row-gap: 20px;
}

.containerInput{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 20px 0 10px;
}
.containerInput label{
    font-size: 1em;
    font-weight: 500;
}
.inputs{
    border: 1.5px solid rgba(0, 0, 0, 0.15);
    padding: 10px;
    outline: none;
    color: #6a718c;
    border-radius: 12px;
    font-size: 1em;
    transition: .5s;
}
.inputs:focus {
    outline: 1.5px solid #97abfe;
}
.passwordContainer{
    display: flex;
    align-items: center;
    font-size: .9em;
}
.passwordContainer a{
    color: #0059ff;
}
.rememberPassword{
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.btnAgregar{
    width: 10%;
    margin: 15px;
    border: none;
    float: right;
    border-radius: 8px;
    padding: 10px;
    font-size: 1.2em;
    font-weight: 600;
    background-color: rgb(45, 255, 133);
    cursor: pointer;
    transition: all .5s;
}

.btnAgregar:hover{
    filter: brightness(90%);
}